* {
  background-color: #000000;
} 
  
p {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #ffffff;
  position: absolute;
}

span {
color: #00e1ff;
}

.head {
  color: #5c5c4c;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
}

.logo_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin-left: 0.05%;
}

.header-list {
  flex: 1;
  text-align: right;
}

.header-list ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.header ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.header ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #00e1ff;
  display: block;
  transition: 0.3s;
}

.header ul li:hover::after{
  width: 100%;
}